html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.grid-container {
  display: inline-grid;

  justify-content: center;
  align-items: center;
  grid-column-gap: 50px;
  grid-row-gap: 80px;
  grid-template-columns: 125px 125px 125px 125px 125px 125px 125px;
  grid-template-rows: 125px 125px;
}

.grid-item img {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 10px;
  height: 100px;
  width: 100px;
}

.about-me {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 20px;
}

.long-container {
  height: 1200px !important;
}

.skillset {
  padding: 4rem 0;
}

.more {
  font-size: 2rem;
  color: $secondary-color;
  transition: all .2s ease;

  a{
    font-weight: 900;
    font-size: 3rem;
    color: $primary-color;
    animation: pulse 2s infinite;
  }
}

@keyframes pulse {
  0% {color:$primary-color;}
  50% {color:$secondary-color;}
  100%{color:$primary-color;}
}
